#!/usr/bin/make -f

%:
	dh $@ --with python2

override_dh_install:
	# clean unneeded stuff
	[ -d debian/graphite-web/usr/conf ] && rm -r debian/graphite-web/usr/conf
	[ -d debian/graphite-web/usr/storage ] && rm -r debian/graphite-web/usr/storage
	[ -d debian/graphite-web/usr/bin ] && rm -r debian/graphite-web/usr/bin
	[ -d debian/graphite-web/usr/share/graphite-web ] || mkdir -p debian/graphite-web/usr/share/graphite-web
	find debian/graphite-web/usr/webapp -type f -exec chmod 644 {} \;
	mv debian/graphite-web/usr/webapp/content debian/graphite-web/usr/share/graphite-web/static
	[ -d debian/graphite-web/usr/webapp ] && rm -rf debian/graphite-web/usr/webapp
	find debian/graphite-web -type f -name local_settings.py -exec rm {} \;
	dh_install


